@font-face {
  font-family: 'Pokemon';
  src: url('https://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot'); /* IE9*/
  src: url('https://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('https://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2')
      format('woff2'),
    /* chrome firefox */
      url('https://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff')
      format('woff'),
    /* chrome firefox */
      url('https://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf')
      format('truetype'),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url('https://db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon')
      format('svg'); /* iOS 4.1- */
}
.landing {
  background-image: url(../imgs/landing-pikachu.gif);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  height: 100vh;
}

.landingPokemonLogo {
  width: 35%;
  height: 25vmin;
  margin-top: 6%;
  margin-left: 0%;
}

.landing-btton {
  position: absolute;
  right: 5%;
  bottom: 10%;
  background: transparent;
  border: none;
  padding: 10px 20px;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: 1000;
  font-family: 'Pokemon', sans-serif;
}

.landing-btton:hover {
  background: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white;
}

.landing-btton span {
  position: absolute;
  display: block;
}

.landing-btton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, white);
  animation: btn-anim1 2s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.landing-btton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, white);
  animation: btn-anim2 2s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.landing-btton span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, white);
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.landing-btton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, white);
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.5s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.subLanding {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background: transparent;
  z-index: 99 !important;
  font-family: 'pokemon';
  color: rgb(255, 203, 5);
}

.subLandingSpan {
  padding-left: 10px;
  letter-spacing: 6px;
}

.landingIcons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.landingLinkedinLogo {
  width: 30px;
  /* padding-right: 20px; */
}

.landingGitHubLogo {
  width: 30px;
}

.email {
  padding: 0px 0px 20px 20px;
}
