.card {
  margin: 1.2% 4%;
  width: 13%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s;
}

.LinkPokCard {
  transition: 0.75s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

.cardTitle {
  font-family: 'pokemon';
  height: auto;
  letter-spacing: 2px;
  font-size: 2.5vh;
  text-transform: capitalize;
  color: black;
  filter: drop-shadow(0px 0px 0.1em rgb(255, 203, 5))
    drop-shadow(0px 0px 0.1em rgb(255, 203, 5))
    drop-shadow(0px 0px 0.1em rgb(255, 203, 5))
    drop-shadow(0px 0px 0.1em rgb(255, 203, 5));
  transition: 0.75s;
}

.mainImg {
  width: 50%;
  height: auto;
  filter: drop-shadow(0px 0px 0.3em rgb(255, 203, 5));
  transition: 0.75s;
}

.detailTypes {
  color: white;
  /* margin-top: 2%; */
  /* width:100%; */
  /* background-color: blue; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 5px;
}

.eachCardType {
  text-transform: capitalize;
  /* margin: 0 0; */
  /* background-color: blue; */
  /* padding: 0 10px; */
  /* border-radius: 0px; */
  width: 30%;
  filter: drop-shadow(0px 0px 0.3em rgb(255, 203, 5));
  transition: 0.75s;
}

.LinkPokCard:hover .mainImg {
  filter: none;
}

.LinkPokCard:hover .eachCardType {
  filter: none;
}

.LinkPokCard:hover .cardTitle {
  filter: none;
  filter: drop-shadow(0px 0px 0.1em rgb(255, 203, 5))
    drop-shadow(0px 0px 0.1em rgb(255, 203, 5));
}

.TheOne {
  width: 60vh;
}
.TheOne .cardTitle {
  font-size: 6vh;
}

/* const colours = {
     normal: '129, 129, 129',
     fire: '229, 97, 62',
     water: '48, 154, 226',
     electric: '224, 189, 40',
     grass: '67, 153, 55',
     ice: '71, 201, 201',
     fighting: '234, 148, 33',
     poison: '148, 84, 204',
     ground: '163, 113, 58',
     flying: '116, 171, 209',
     psychic: '234, 108, 141',
     bug: '160, 160, 40',
     rock: '170, 165, 129',
     ghost: '111, 69, 112',
     dragon: '87, 111, 189',
     dark: '79, 71, 71',
     steel: '107, 173, 201',
     fairy: '226, 141, 226',
     shadow: '255, 255, 255',
     unknown: '104, 160, 144',
   }; */

.normalAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(129, 129, 129))
    drop-shadow(0px 0px 0.2em rgb(129, 129, 129))
    drop-shadow(0px 0px 0.2em rgb(129, 129, 129))
    drop-shadow(0px 0px 0.2em rgb(129, 129, 129));
}

.fireAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(229, 97, 62))
    drop-shadow(0px 0px 0.2em rgb(229, 97, 62))
    drop-shadow(0px 0px 0.2em rgb(229, 97, 62))
    drop-shadow(0px 0px 0.2em rgb(229, 97, 62));
}

.waterAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(48, 154, 226))
    drop-shadow(0px 0px 0.2em rgb(48, 154, 226))
    drop-shadow(0px 0px 0.2em rgb(48, 154, 226))
    drop-shadow(0px 0px 0.2em rgb(48, 154, 226));
}

.electricAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(224, 189, 40))
    drop-shadow(0px 0px 0.2em rgb(224, 189, 40))
    drop-shadow(0px 0px 0.2em rgb(224, 189, 40))
    drop-shadow(0px 0px 0.2em rgb(224, 189, 40));
}

.grassAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(67, 153, 55))
    drop-shadow(0px 0px 0.2em rgb(67, 153, 55))
    drop-shadow(0px 0px 0.2em rgb(67, 153, 55))
    drop-shadow(0px 0px 0.2em rgb(67, 153, 55));
}

.iceAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(71, 201, 201))
    drop-shadow(0px 0px 0.2em rgb(71, 201, 201))
    drop-shadow(0px 0px 0.2em rgb(71, 201, 201))
    drop-shadow(0px 0px 0.2em rgb(71, 201, 201));
}

.fightingAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(234, 148, 33))
    drop-shadow(0px 0px 0.2em rgb(234, 148, 33))
    drop-shadow(0px 0px 0.2em rgb(234, 148, 33))
    drop-shadow(0px 0px 0.2em rgb(234, 148, 33));
}

.poisonAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(148, 84, 204))
    drop-shadow(0px 0px 0.2em rgb(148, 84, 204))
    drop-shadow(0px 0px 0.2em rgb(148, 84, 204))
    drop-shadow(0px 0px 0.2em rgb(148, 84, 204));
}

.groundAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(163, 113, 58))
    drop-shadow(0px 0px 0.2em rgb(163, 113, 58))
    drop-shadow(0px 0px 0.2em rgb(163, 113, 58))
    drop-shadow(0px 0px 0.2em rgb(163, 113, 58));
}

.flyingAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(116, 171, 209))
    drop-shadow(0px 0px 0.2em rgb(116, 171, 209))
    drop-shadow(0px 0px 0.2em rgb(116, 171, 209))
    drop-shadow(0px 0px 0.2em rgb(116, 171, 209));
}

.psychicAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(234, 108, 141))
    drop-shadow(0px 0px 0.2em rgb(234, 108, 141))
    drop-shadow(0px 0px 0.2em rgb(234, 108, 141))
    drop-shadow(0px 0px 0.2em rgb(234, 108, 141));
}

.bugAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(160, 160, 40))
    drop-shadow(0px 0px 0.2em rgb(160, 160, 40))
    drop-shadow(0px 0px 0.2em rgb(160, 160, 40))
    drop-shadow(0px 0px 0.2em rgb(160, 160, 40));
}

.rockAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(170, 165, 129))
    drop-shadow(0px 0px 0.2em rgb(170, 165, 129))
    drop-shadow(0px 0px 0.2em rgb(170, 165, 129))
    drop-shadow(0px 0px 0.2em rgb(170, 165, 129));
}

.ghostAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(111, 69, 112))
    drop-shadow(0px 0px 0.2em rgb(111, 69, 112))
    drop-shadow(0px 0px 0.2em rgb(111, 69, 112))
    drop-shadow(0px 0px 0.2em rgb(111, 69, 112));
}

.dragonAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(87, 111, 189))
    drop-shadow(0px 0px 0.2em rgb(87, 111, 189))
    drop-shadow(0px 0px 0.2em rgb(87, 111, 189))
    drop-shadow(0px 0px 0.2em rgb(87, 111, 189));
}

.darkAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(79, 71, 71))
    drop-shadow(0px 0px 0.2em rgb(79, 71, 71))
    drop-shadow(0px 0px 0.2em rgb(79, 71, 71))
    drop-shadow(0px 0px 0.2em rgb(79, 71, 71));
}

.steelAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(107, 173, 201))
    drop-shadow(0px 0px 0.2em rgb(107, 173, 201))
    drop-shadow(0px 0px 0.2em rgb(107, 173, 201))
    drop-shadow(0px 0px 0.2em rgb(107, 173, 201));
}

.fairyAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(226, 141, 226))
    drop-shadow(0px 0px 0.2em rgb(226, 141, 226))
    drop-shadow(0px 0px 0.2em rgb(226, 141, 226))
    drop-shadow(0px 0px 0.2em rgb(226, 141, 226));
}

.shadowAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(255, 255, 255))
    drop-shadow(0px 0px 0.2em rgb(255, 255, 255))
    drop-shadow(0px 0px 0.2em rgb(255, 255, 255))
    drop-shadow(0px 0px 0.2em rgb(255, 255, 255));
}

.unknownAll:hover {
  filter: drop-shadow(0px 0px 0.2em rgb(104, 160, 144))
    drop-shadow(0px 0px 0.2em rgb(104, 160, 144))
    drop-shadow(0px 0px 0.2em rgb(104, 160, 144))
    drop-shadow(0px 0px 0.2em rgb(104, 160, 144));
}
